NET "DBUS<12>"    LOC = "P96";
NET "DBUS<13>"    LOC = "P97";
NET "DBUS<14>"    LOC = "P99";
NET "DBUS<15>"    LOC = "P1";
NET "ADDR<1>"     LOC = "P56";
NET "ADDR<2>"     LOC = "P60";
NET "ADDR<3>"     LOC = "P58";
NET "ADDR<4>"     LOC = "P59";
NET "ADDR<5>"     LOC = "P73";
NET "ADDR<6>"     LOC = "P74";
NET "ADDR<7>"     LOC = "P76";
NET "ADDR<8>"     LOC = "P77";
NET "ADDR<9>"     LOC = "P78";
NET "ADDR<10>"    LOC = "P79";
NET "ADDR<11>"    LOC = "P80";
NET "ADDR<12>"    LOC = "P81";
NET "ADDR<13>"    LOC = "P82";
NET "ADDR<14>"    LOC = "P85";
NET "ADDR<15>"    LOC = "P86";
NET "ADDR<16>"    LOC = "P87";
NET "ADDR<17>"    LOC = "P89";
NET "ADDR<18>"    LOC = "P90";
NET "ADDR<19>"    LOC = "P91";
NET "ADDR<20>"    LOC = "P92";
NET "ADDR<21>"    LOC = "P93";
NET "ADDR<22>"    LOC = "P94";
NET "ADDR<23>"    LOC = "P95";
NET "BERR_n"      LOC = "P42";
NET "UDS_n"       LOC = "P29";
NET "LDS_n"       LOC = "P30";
NET "RW"          LOC = "P32";
NET "AS_n"        LOC = "P28";
NET "RESET_n"     LOC = "P35";
NET "ECLK"        LOC = "P34";
NET "DTACK_n"     LOC = "P52";
NET "OVR_n"       LOC = "P71";
NET "CFGOUT_n"    LOC = "P61";
NET "CFGIN_n"     LOC = "P66";

NET "IDE_ENABLE"  LOC = "P40";
NET "IOR_n"       LOC = "P70";
NET "IOW_n"       LOC = "P68";
NET "IDECS1_n"    LOC = "P64";
NET "IDECS2_n"    LOC = "P63";
NET "IDEBUF_OE"   LOC = "P67";
NET "IDE_ROMEN"   LOC = "P12";
NET "ROM_BANK<0>" LOC = "P49";
NET "ROM_BANK<1>" LOC = "P50";
NET "MEMCLK"      LOC = "P27";

NET "RAM_SIZE<0>" LOC = "P36";
NET "RAM_SIZE<1>" LOC = "P39";

NET "MEMW_n"      LOC = "P14";
NET "RAS_n"       LOC = "P16";
NET "CAS_n"       LOC = "P15";
NET "CKE"         LOC = "P10";
NET "DQML"        LOC = "P13";
NET "DQMH"        LOC = "P11";
NET "RAMCS_n"     LOC = "P17";
NET "RAMOE_n"     LOC = "P37";
NET "BA<0>"       LOC = "P18";
NET "BA<1>"       LOC = "P19";
NET "MA<0>"       LOC = "P22";
NET "MA<1>"       LOC = "P23";
NET "MA<2>"       LOC = "P24";
NET "MA<3>"       LOC = "P25";
NET "MA<4>"       LOC = "P2";
NET "MA<5>"       LOC = "P3";
NET "MA<6>"       LOC = "P4";
NET "MA<7>"       LOC = "P6";
NET "MA<8>"       LOC = "P7";
NET "MA<9>"       LOC = "P8";
NET "MA<10>"      LOC = "P20";
NET "MA<11>"      LOC = "P9";